:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  max-width: 48rem;

  > * {
    margin-bottom: 1rem;
    padding: 0 2rem;
  }
}

.expand-btn {
  width: 100%;
  height: 3rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
